<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
        <setting name="returnInstanceForEmptyRow" value="true" />
    </settings>
    <typeAliases>
        <typeAlias type="dmu.dasom.dasom_homepage.domain.recruit.RecruitSchedule" alias="RecruitSchedule"/>
        <typeAlias type="dmu.dasom.dasom_homepage.domain.recruit.RecruitScheduleIndex" alias="RecruitScheduleIndex"/>
        <typeAlias type="dmu.dasom.dasom_homepage.domain.recruit.DasomApplicant" alias="DasomApplicant"/>
        <typeAlias type="dmu.dasom.dasom_homepage.domain.recruit.DasomApplicantIndex" alias="DasomApplicantIndex"/>
        <typeAlias type="dmu.dasom.dasom_homepage.domain.recruit.DasomApplicantUpdate" alias="DasomApplicantUpdate"/>

        <typeAlias type="dmu.dasom.dasom_homepage.domain.member.DasomNewMember" alias="DasomNewMember"/>
        <typeAlias type="dmu.dasom.dasom_homepage.domain.member.DasomMember" alias="DasomMember"/>
        <typeAlias type="dmu.dasom.dasom_homepage.domain.member.DasomMemberIndex" alias="DasomMemberIndex"/>
        <typeAlias type="dmu.dasom.dasom_homepage.domain.member.MyPageDTO" alias="MyPageDTO"/>
        <typeAlias type="dmu.dasom.dasom_homepage.domain.member.SignupDTO" alias="SignupDTO"/>

        <typeAlias type="dmu.dasom.dasom_homepage.domain.admin.MemberState" alias="MemberState"/>

        <typeAlias type="dmu.dasom.dasom_homepage.domain.board.notice.NoticeList" alias="NoticeList"/>
        <typeAlias type="dmu.dasom.dasom_homepage.domain.board.notice.NoticeDetailList" alias="NoticeDetailList"/>
        <typeAlias type="dmu.dasom.dasom_homepage.domain.board.notice.NoticeTable" alias="NoticeTable" />

        <typeAlias type="dmu.dasom.dasom_homepage.domain.board.project_study.Project" alias="Project"/>
        <typeAlias type="dmu.dasom.dasom_homepage.domain.board.project_study.Study" alias="Study"/>
        <typeAlias type="dmu.dasom.dasom_homepage.domain.board.project_study.ProjectList" alias="ProjectList"/>
        <typeAlias type="dmu.dasom.dasom_homepage.domain.board.project_study.StudyList" alias="StudyList"/>
        <typeAlias type="dmu.dasom.dasom_homepage.domain.board.project_study.ProjectParticipants" alias="ProjectParticipants"/>
        <typeAlias type="dmu.dasom.dasom_homepage.domain.board.project_study.StudyParticipants" alias="StudyParticipants"/>
        <typeAlias type="dmu.dasom.dasom_homepage.domain.board.project_study.Role" alias="Role"/>
        <typeAlias type="dmu.dasom.dasom_homepage.domain.board.project_study.StudyProgress" alias="StudyProgress"/>
        <typeAlias type="dmu.dasom.dasom_homepage.domain.board.project_study.StudyProgressUpdate" alias="StudyProgressUpdate"/>
    </typeAliases>
</configuration>
