<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>
    <typeAliases>
        <typeAlias type="dmu.dasom.dasom_homepage.domain.recruit.RecruitSchedule" alias="RecruitSchedule"/>
        <typeAlias type="dmu.dasom.dasom_homepage.domain.recruit.RecruitPeriod" alias="RecruitPeriod"/>
        <typeAlias type="dmu.dasom.dasom_homepage.domain.recruit.DasomApplicant" alias="DasomApplicant"/>

        <typeAlias type="dmu.dasom.dasom_homepage.domain.member.DasomNewMember" alias="DasomNewMember"/>
        <typeAlias type="dmu.dasom.dasom_homepage.domain.admin.MemberState" alias="MemberState"/>
    
        <typeAlias type="dmu.dasom.dasom_homepage.domain.admin.Project" alias="Project"/>
        <typeAlias type="dmu.dasom.dasom_homepage.domain.admin.Study" alias="Study"/>
        <typeAlias type="dmu.dasom.dasom_homepage.domain.admin.ProjectList" alias="ProjectList"/>
        <typeAlias type="dmu.dasom.dasom_homepage.domain.admin.StudyList" alias="StudyList"/>
        <typeAlias type="dmu.dasom.dasom_homepage.domain.admin.ProjectParticipants" alias="ProjectParticipants"/>
        <typeAlias type="dmu.dasom.dasom_homepage.domain.admin.StudyParticipants" alias="StudyParticipants"/>
        <typeAlias type="dmu.dasom.dasom_homepage.domain.admin.Role" alias="Role"/>
        <typeAlias type="dmu.dasom.dasom_homepage.domain.admin.Category" alias="Category"/>
	
	</typeAliases>
<!--    <mappers>-->
<!--        <mapper class="dmu.dasom.dasom_homepage.repository.RecruitRepository" />-->
<!--        <mapper class="dmu.dasom.dasom_homepage.repository.ProjectRepository" />-->
<!--        <mapper class="dmu.dasom.dasom_homepage.repository.StudyRepository" />-->
<!--    </mappers>-->
</configuration>
