<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>지원서 작성</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<script>
    const formSubmit = () => {
        if (confirm('정말 제출하시겠습니까?\n기입한 정보는 수정이 불가능합니다.')) {
            const form = document.getElementById('submit-form');
            form.submit();
        }
    }
</script>
<script th:inline="javascript">
    window.onload = () => {
        if ([[${alert}]] !== null) {
            alert([[${alert}]]);
        }
    }
</script>
<body>
<div class="min-h-screen bg-black text-white">
    <header class="flex justify-between items-center p-5 border-b border-gray-700">
        <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="text-white w-8 h-8"
        >
            <path d="M4 15s1-1 4-1 5 2 8 2 4-1 4-1V3s-1 1-4 1-5-2-8-2-4 1-4 1z"></path>
            <line x1="4" x2="4" y1="22" y2="15"></line>
        </svg>
        <nav class="flex space-x-4">
            <a class="text-gray-400 hover:text-white" href="#">
                ABOUT
            </a>
            <a class="text-gray-400 hover:text-white" href="#">
                PROJECT
            </a>
            <a class="text-gray-400 hover:text-white" href="#">
                RECRUIT
            </a>
            <a class="text-gray-400 hover:text-white" href="#">
                LOGIN
            </a>
        </nav>
    </header>
    <main class="flex flex-col items-center py-12">
        <h1 class="text-4xl font-bold mb-4">지원서 작성</h1>
        <p class="mb-8">다솜 32기 신입부원 모집</p>
        <div class="w-full max-w-2xl px-8">
            <form action="/recruit/apply" method="post" id="submit-form" class="space-y-6">
                <div>
                    <label class="block text-sm font-medium mb-1" for="name">
                        이름
                    </label>
                    <input
                            class="flex h-10 bg-gray-300 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 text-black"
                            name="acName"
                            id="name"
                            placeholder="이름을 입력해주세요"
                            required
                    />
                </div>
                <div>
                    <label class="block text-sm font-medium mb-1" for="studentNo">
                        학번
                    </label>
                    <input
                            class="flex h-10 bg-gray-300  w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 text-black"
                            name="acStudentNo"
                            id="studentNo"
                            placeholder="이름을 입력해주세요"
                            required
                    />
                </div>
                <div>
                    <label class="block text-sm font-medium mb-1">
                        학년
                    </label>
                    <div class="flex items-center space-x-4">
                        <div
                                role="radiogroup"
                                aria-required="false"
                                dir="ltr"
                                class="grid gap-2"
                                tabindex="0"
                                style="outline: none;"
                        >
                            <div class="flex items-center space-x-2">
                                <input
                                        type="radio"
                                        value="1"
                                        name="acGrade"
                                        id="exp1"
                                        class="aspect-square h-4 w-4 rounded-full border border-primary text-primary ring-offset-background focus:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                                >
                                <label
                                        class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                                        for="exp1"
                                >
                                    1학년
                                </label>
                            </div>
                            <div class="flex items-center space-x-2">
                                <input
                                        type="radio"
                                        value="2"
                                        name="acGrade"
                                        id="exp2"
                                        class="aspect-square h-4 w-4 rounded-full border border-primary text-primary ring-offset-background focus:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                                />
                                <label
                                        class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                                        for="exp2"
                                >
                                    2학년
                                </label>
                            </div>
                            <div class="flex items-center space-x-2">
                                <input
                                        type="radio"
                                        value="3"
                                        name="acGrade"
                                        id="exp3"
                                        class="aspect-square h-4 w-4 rounded-full border border-primary text-primary ring-offset-background focus:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                                />
                                <label
                                        class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                                        for="exp3"
                                >
                                    3학년
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <label class="block text-sm font-medium mb-1">
                        학과
                    </label>
                    <div class="flex items-center space-x-4">
                        <div
                                role="radiogroup"
                                aria-required="false"
                                dir="ltr"
                                class="grid gap-2"
                                tabindex="0"
                                style="outline: none;"
                        >
                            <div class="flex items-center space-x-2">
                                <input
                                        type="radio"
                                        value="컴소"
                                        name="acDepartment"
                                        id="dep1"
                                        class="aspect-square h-4 w-4 rounded-full border border-primary text-primary ring-offset-background focus:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                                />
                                <label
                                        class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                                        for="dep1"
                                >
                                    컴퓨터소프트웨어공학과
                                </label>
                            </div>
                            <div class="flex items-center space-x-2">
                                <input
                                        type="radio"
                                        value="컴정"
                                        name="acDepartment"
                                        id="dep2"
                                        class="aspect-square h-4 w-4 rounded-full border border-primary text-primary ring-offset-background focus:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                                />
                                <label
                                        class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                                        for="dep2"
                                >
                                    컴퓨터정보공학과
                                </label>
                            </div>
                            <div class="flex items-center space-x-2">
                                <input
                                        type="radio"
                                        value="인공"
                                        name="acDepartment"
                                        id="dep3"
                                        class="aspect-square h-4 w-4 rounded-full border border-primary text-primary ring-offset-background focus:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                                />
                                <label
                                        class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                                        for="dep3"
                                >
                                    인공지능소프트웨어학과
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <label class="block text-sm font-medium mb-1" for="phoneNum">
                        전화번호
                    </label>
                    <input
                            class="flex h-10 bg-gray-300 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 text-black"
                            name="acContact"
                            id="phoneNum"
                            placeholder="전화번호를 입력해주세요"
                            type="tel"
                            required
                    />
                </div>
                <div>
                    <label class="block text-sm font-medium mb-1" for="email">
                        학교 이메일
                    </label>
                    <input
                            class="flex h-10 bg-gray-300 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 text-black"
                            name="acEmail"
                            id="email"
                            placeholder="이메일 주소를 입력해주세요"
                            type="email"
                            required
                    />
                </div>
                <div>
                    <label class="block text-sm font-medium mb-1" for="reason-for-apply">
                        지원 동기
                    </label>
                    <textarea
                            class="flex h-140 bg-gray-300 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 text-black"
                            id="reason-for-apply"
                            name="reasonForApply"
                            placeholder="지원 동기를 작성해주세요"
                    ></textarea>
                </div>
                <div class="flex justify-end">
                    <button type="button" onclick="formSubmit()" class="inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2">
                        제출
                    </button>
                    <button type="button" onclick="window.location.href='/'" class="inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-10 px-4 py-2 mr-2">
                        취소
                    </button>
                </div>
            </form>
        </div>
    </main>
</div>
</body>
</html>