<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>파일 보내기 예제</title>
</head>

<h3> 등록 테스트 </h3>
<body>
<form name="form" method="post" action="/notice/create" enctype="multipart/form-data">
    <input name="writerNo" placeholder="writer_no"/> <br>
    <input name="noticeTitle" placeholder="notice_title"/> <br>
    <input name="noticeContent" placeholder="notice_content"/> <br>
    <input type="file" name="noticeFile"/>
    <input type="submit" id="submit" value="전송"/>
</form>
<br>
<h3> 수정 테스트 </h3>
<form name="form" method="post" action="/notice/update" enctype="multipart/form-data">
    <input name="noticeNo" placeholder="notice_no"/> <br>
    <input name="writerNo" placeholder="writer_no"/> <br>
    <input name="noticeTitle" placeholder="notice_title"/> <br>
    <input name="noticeContent" placeholder="notice_content"/> <br>
    <input type="file" name="noticeFile"/>
    <input type="submit" id="submit" value="전송"/>
</form>
</body>
</html>