<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dmu.dasom.dasom_homepage.repository.RecruitRepository">

    <insert id="saveApplicant" parameterType="DasomApplicant">
        INSERT INTO dasom_applicant(ac_student_no, ac_name, ac_contact, ac_email,
                                    ac_department, ac_grade, reason_for_apply, rec_no)
        VALUES (#{acStudentNo}, #{acName}, #{acContact}, #{acEmail}, #{acDepartment},
                #{acGrade}, #{reasonForApply}, #{recNo})
    </insert>

    <select id="getApplicantList" resultType="DasomApplicant">
        SELECT * FROM dasom_applicant
    </select>

    <select id="getApplicantByStudentNo" resultType="DasomApplicant">
        SELECT * FROM dasom_applicant WHERE ac_student_no = #{studentNo}
    </select>

</mapper>