<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dmu.dasom.dasom_homepage.repository.RecruitRepository">
    <!-- 모집 일정 관련 쿼리 -->
    <insert id="createNewRecruitSchedule" parameterType="RecruitSchedule">
        INSERT INTO recruit_schedule
        VALUES (#{recNo}, #{applyStart}, #{applyEnd}, #{firstAnnounce}, #{interviewStart}, #{interviewEnd}, #{secondAnnounce})
    </insert>

    <select id="getRecruitScheduleList" resultType="RecruitScheduleIndex">
        SELECT * FROM recruit_schedule_index
    </select>

    <select id="getRecruitScheduleDetails" parameterType="int" resultType="RecruitSchedule">
        SELECT * FROM recruit_schedule WHERE rec_no = #{recNo}
    </select>

    <update id="updateRecruitSchedule" parameterType="RecruitSchedule">
        UPDATE recruit_schedule
        SET apply_start     = #{applyStart},
            apply_end       = #{applyEnd},
            first_announce  = #{firstAnnounce},
            interview_start = #{interviewStart},
            interview_end   = #{interviewEnd},
            second_announce = #{secondAnnounce}
        WHERE rec_no = #{recNo};
    </update>

    <delete id="deleteRecruitSchedule" parameterType="int">
        DELETE FROM recruit_schedule WHERE rec_no = #{recNo}
    </delete>


    <select id="isRecruitScheduleExistByRecNo" parameterType="int" resultType="boolean">
        SELECT EXISTS(SELECT 1 FROM recruit_schedule WHERE rec_no = #{recNo}) AS result;
    </select>
    
    <!-- 지원자 관련 쿼리 -->
    <insert id="saveApplicant" parameterType="DasomApplicant">
        INSERT INTO dasom_applicant(ac_student_no, ac_name, ac_contact, ac_email,
                                    ac_department, ac_grade, reason_for_apply, rec_no)
        VALUES (#{acStudentNo}, #{acName}, #{acContact}, #{acEmail}, #{acDepartment},
                #{acGrade}, #{reasonForApply}, #{recNo})
    </insert>

    <select id="getApplicantList" parameterType="int" resultType="DasomApplicantIndex">
        SELECT * FROM applicant_list_index WHERE rec_no = #{recNo}
    </select>

    <select id="getApplicantByStudentNo" parameterType="int" resultType="DasomApplicant">
        SELECT * FROM dasom_applicant WHERE rec_no = #{recNo} AND ac_student_no = #{acStudentNo}
    </select>

    <update id="updateApplicantInfo" parameterType="DasomApplicantUpdate">
        UPDATE dasom_applicant SET ac_name = #{acName}, ac_contact = #{acContact}, ac_email = #{acEmail}, ac_department = #{acDepartment},
                                   ac_grade = #{acGrade}, reason_for_apply = #{reasonForApply}, rec_no = #{recNo}
        WHERE rec_no = #{originRecNo} AND ac_student_no = #{originAcStudentNo}
    </update>
    <update id="updateApplicatnIsAccepted" parameterType="DasomApplicantUpdate">
        UPDATE dasom_applicant
        SET is_accepted = #{isAccepted}
        WHERE ac_student_no = #{acStudentNo}
    </update>

    <delete id="deleteApplicantByStudentNo" parameterType="int">
        DELETE FROM dasom_applicant WHERE rec_no = #{recNo} AND ac_student_no = #{acStudentNo}
    </delete>

    <select id="isApplicantExistByRecNoAndStudentNo" parameterType="int" resultType="boolean">
        SELECT EXISTS(SELECT 1 FROM dasom_applicant WHERE rec_no = #{recNo} AND ac_student_no = #{acStudentNo})
    </select>

    <insert id="doAcceptProcess" parameterType="int">
        INSERT IGNORE INTO dasom_new_member(rec_no, ac_student_no, unique_code)
        SELECT rec_no,
               ac_student_no,
               CONCAT(RIGHT(ac_student_no, 4), RIGHT(ac_contact, 4)) AS unique_code
        FROM dasom_applicant
        WHERE rec_no = #{recNo} AND is_accepted = true;
    </insert>

</mapper>
