<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dmu.dasom.dasom_homepage.repository.AdminRepository">

    <select id="existByMemNo" parameterType="int" resultType="boolean">
        SELECT EXISTS(SELECT 1 FROM member_table WHERE mem_no = #{memNo})
    </select>

    <delete id="deleteMember" parameterType="int">
        DELETE FROM member_table where mem_no = #{memNo}
    </delete>

    <update id="modifyMember" parameterType="MemberState">
        UPDATE member_table
        set mem_department = #{memDepartment},
            mem_name       = #{memName},
            mem_grade      = #{memGrade}
        where mem_no = #{memNo};
    </update>

    <update id="stateChange" parameterType="MemberState">
        UPDATE member_table
        SET mem_state = #{memState}, state_update = CURRENT_TIMESTAMP
        WHERE mem_no = #{memNo}
    </update>

    <select id="getMemberListAll" resultType="MemberState">
        SELECT mem_no, mem_name, mem_grade, mem_state, mem_department, leave_date, state_update FROM  member_table;
    </select>

    <select id="searchMembersByKeyword" parameterType="String" resultType="MemberState">
        SELECT mem_no, mem_name, mem_grade, mem_state, mem_department, leave_date, state_update
        FROM member_table
        WHERE mem_name LIKE CONCAT('%', #{keyword}, '%')
    </select>
</mapper>