<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dmu.dasom.dasom_homepage.repository.StudyRepository">

    <select id="getStudys" resultType="StudyList">
        SELECT study_no, study_title, study_content, thumbnail_pic FROM study_table
    </select>

    <insert id="createStudy" parameterType="Study">
        INSERT INTO study_table(writer_no, organizer_no, study_title, study_content, references_url, notion_url, thumbnail_pic, study_pic, start_date, end_date)
        VALUES(#{writerNo}, #{organizerNo}, #{studyTitle}, #{studyContent}, #{referencesUrl}, #{notionUrl}, #{thumbnailPic}, #{studyPic}, #{startDate}, #{endDate})
    </insert>

    <update id="editStudy" parameterType="Study">
        UPDATE study_table
        SET organizer_no   = #{organizerNo},
            study_title    = #{studyTitle},
            study_content  = #{studyContent},
            references_url = #{referencesUrl},
            notion_url     = #{notionUrl},
            thumbnail_pic  = #{thumbnailPic},
            study_pic      = #{studyPic},
            start_date     = #{startDate},
            end_date       = #{endDate}
        WHERE study_no = #{studyNo}
    </update>

    <delete id="removeStudy" parameterType="int">
        DELETE FROM study_table
        WHERE study_no = #{study_no}
    </delete>

    <select id="findStudyById" parameterType="int" resultType="Study">
        select *
        from study_table
        where study_no = #{study_no};
    </select>

    <select id="isStudyExistById" parameterType="int" resultType="boolean">
        SELECT EXISTS(SELECT * FROM study_table WHERE study_no = #{study_no});
    </select>

    <!--  참가자 부분          -->

    <select id="getParticipants" parameterType="int" resultType="StudyParticipants">
        SELECT *
        FROM study_participants
        WHERE study_no = #{studyNo}
    </select>

    <delete id="removeParticipant">
        DELETE FROM study_participants
        WHERE study_no = #{studyNo} and participant_no = #{participantNo}
    </delete>

    <insert id="addParticipant" parameterType="StudyParticipants">
        insert into study_participants
        values (#{studyNo}, #{participantNo}, #{participantRole})
    </insert>

    <select id="isParticipant" resultType="boolean">
        SELECT EXISTS(SELECT *
        FROM study_participants
        WHERE study_no = #{studyNo}
        and participant_no = #{participantNo});
    </select>

    <!-- category | role 부분-->
<!--    <select id="getCategoryByName" parameterType="String" resultType="Category">-->
<!--        select * from study_project_category-->
<!--        where category_name = #{categoryName}-->
<!--    </select>-->

    <select id="getRoleByName" parameterType="String" resultType="Role">
        select * from study_project_role
        where role_name = #{roleName}
    </select>
</mapper>